<div class="card bg-dark rounded border-1 border-white shadow-sm">
  <div class="row g-0">

    <div class="col-md-8">
      <div class="card-body">
        <h4>{{ update.title }}</h4>
        <div class="mb-1 text-muted small">{{ update.date | date }}</div>
        <p class="card-text mb-auto">{{ update.description }}</p>

        <hr style="width: 5em">
        <div class="row small" *ngIf="update.quote">
          <blockquote class="bi-chat-quote"> {{ update.quote }}</blockquote>
          <p class="blockquote-footer">{{ update.developer }}</p>
        </div>

        <div class="d-flex flex-row-reverse align-items-end">
          <div class="flex-column small">
            <a href="{{ update.referenceLink }}" class="link-primary bi-info">See details...</a>
          </div>

          <div class="col">
            <div class="align-items-center btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"
                      (click)="onUpdateSelected()">Edit</button>
              <button type="button" class="btn btn-sm btn-outline-danger"
                      (click)="onUpdateDelete()">Delete</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card-img-top">
        <img class="rounded img-fluid" alt="" src="{{ update.image }}">
      </div>
    </div>

  </div>
</div>
