<div class="row g-0 overflow-hidden flex-md-row mb-4 position-relative">
  <div class="col position-static" style="padding:2px">
    <h3>{{ update.title }}</h3>
    <div class="mb-1 text-muted">{{ update.date | date }}</div>
    <p class="card-text mb-auto">{{ update.description }}</p>

      <hr style="width: 5em">
      <div class="row" *ngIf="update.quote">
        <blockquote class="bi-chat-quote"> {{ update.quote }}</blockquote>
        <p class="blockquote-footer">{{ update.developer }}</p>
      </div>

    <a href="{{ update.referenceLink }}" class="stretched-link">See details</a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <img alt="" src="{{ update.image }}">
  </div>

</div>
