<div class="col">
  <h1>How to install the client?</h1>
  <ul class="fs-5 col-md-8">
    <li>Get Fabric mod loader from
      <a href="https://fabricmc.net/use/">https://fabricmc.net/use/</a>
      and install it.</li>
    <li>Get Chimera Client jar file and copy it to “mods” folder.</li>
    <li>Launch Minecraft with Fabric profile and press “Right Shift” for client settings.</li>
  </ul>

  <div class="mb-5">
    <a href="https://github.com/Chimera-Development/chimera-client/releases"
       class="btn btn-primary btn-lg px-4">Download Client Jar</a>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row g-5">
    <div class="col-md-6">
      <h2>What is Topological Sorting</h2>
      <p>Chimera Client utilizes topological sorting. Imagine not having topological sorting.
        Topological sorting is a technique that guarantees that the utility modules and the game events are executed in a correct and consistent order that follows their dependencies and prevents conflicts or errors. It also optimizes the performance and efficiency of the Chimera Client by eliminating unnecessary or redundant executions.</p>
      <ul class="icon-list">
        <li class="nav-link bi bi-arrow-right-circle-fill">
          <a href="https://de.wikipedia.org/wiki/Topologische_Sortierung">Wikipedia - Topological sorting</a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>What separates Chimera from just another client?</h2>
      <p>Glad you asked.  Topological sorting is a proven and elegant technique that can improve the functionality and reliability of your minecraft utility client.</p>
      <ul class="icon-list">
        <li class="nav-link bi bi-arrow-right-circle-fill">
          <a href="https://de.wikipedia.org/wiki/Topologische_Sortierung">Learn more about topological sorting</a>
        </li>
      </ul>
    </div>
  </div>

</div>
