<app-alert
  *ngIf="message"
  [message]="message"
  (alertClosed)="onPopupHandle()"></app-alert>

<div class="col">
  <h1>How to install the client?</h1>
  <ul class="fs-5 col-md-8">
    <li>Get Fabric mod loader from
      <a href="https://fabricmc.net/use/">https://fabricmc.net/use/</a>
      and install it.</li>
    <li>Get Chimera Client jar file and copy it to “mods” folder.</li>
    <li>Launch Minecraft with Fabric profile and press “Right Shift” for client settings.</li>
  </ul>

  <div class="mb-5">
    <a href="https://github.com/Chimera-Development/chimera-client/releases"
       class="btn btn-primary btn-lg px-4">Download Client Jar</a>
  </div>

  <hr class="w-25 mb-5">


  <div class="row g-5">

    <div class="row w-100 pt-4" *ngIf="isAuthenticated">
      <button class="bi-plus-circle g-0 btn-lg btn btn-outline-primary w-50"
              (click)="onAddQuestion()"> New Question</button>&nbsp;
      <button class="bi-terminal-plus g-0 btn-lg btn btn-outline-success w-25"
              (click)="onSaveChanges()"> Save Changes</button>
    </div>

    <div class="col-md-6" [hidden]="!outlet.isActivated">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div class="col-md-6" *ngFor="let answer of faqAnswers; let i = index">
      <app-faq-item [faqAnswer]="answer" [answerIndex]="i"></app-faq-item>
    </div>
  </div>

</div>
