<header class="p-2">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
      <a href="#" class="mb-2 mb-lg-0 text-decoration-none">
        <img
          width="50"
          alt="{{ title }}"
          src="./assets/chimera-logo.svg"
        />
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLinkActive="text-white" routerLink="/home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLinkActive="text-white" routerLink="/faq" class="nav-link px-2 text-secondary">FAQs</a></li>
        <li><a href="https://github.com/Chimera-Development" class="nav-link px-2 text-secondary">Github</a></li>
        <li><a routerLinkActive="text-white" routerLink="/about" class="nav-link px-2 text-secondary">About</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light"
                (click)="onLoginClicked()"
                *ngIf="!isAuthenticated">Login</button>
        <div *ngIf="isAuthenticated">
          <span>{{ userName }}</span> |
          <button type="button" class="btn btn-outline-light"
                  (click)="onLogoutClicked()">Logout</button>
        </div>
      </div>

    </div>
  </div>
</header>
