<app-alert
  *ngIf="displayMessage"
  [message]="displayMessage"
  (alertClosed)="onMessagePopupHandle()"></app-alert>

<div class="row text-center">
  <div>
    <img width="200" src="./assets/chimera-logo.svg" alt="{{ title }}"/>
  </div>

  <form (ngSubmit)="onSubmitForm(loginForm)" #loginForm="ngForm">
    <h4 class="fw-normal"
        [textContent]="isRegister ? 'Create an Account' : 'Login'"
    >Login</h4>

    <hr style="color: lightgray">
    <div class="form-floating">
      <input type="email" class="form-control bg-dark border-dark text-white"
             id="mail" placeholder="admin@chimera.com"
             ngModel name="email" required email>
      <label for="mail" class="bi-person">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control bg-dark border-dark text-white"
             id="passwd" placeholder="Password"
             ngModel name="password" required minlength="6"
             autocomplete="on">
      <label for="passwd" class="bi-lock">Password</label>
    </div>

    <button type="submit"
            class="w-100 btn btn-lg btn-secondary bg-dark border-white"
            [textContent]="isRegister ? 'Create account' : 'Login'"
            [disabled]="!loginForm.valid">Login</button>
  </form>
</div>

<div class="col-md-auto text-end">
    <button type="button" class="btn" style="cursor: default"
    (click)="onRegisterClicked()"
    >Register</button>
</div>
