<div class="row text-center bg-dark text-white">
  <div>
    <img width="200" src="./assets/chimera-logo.svg" alt="{{ title }}"/>
  </div>

  <form (ngSubmit)="onSubmitForm(loginForm)" #loginForm="ngForm">
    <h4 class="fw-normal">Login</h4>
    <hr style="color: lightgray">
    <div class="form-floating">
      <input type="email" class="form-control bg-dark border-dark text-white"
             id="mail" placeholder="admin@chimera.com"
             ngModel name="email" required email>
      <label for="mail" class="bi-person">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control bg-dark border-dark text-white"
             id="passwd" placeholder="Password"
             ngModel name="password" required minlength="6"
             autocomplete="on">
      <label for="passwd" class="bi-lock">Password</label>
    </div>

    <button type="submit"
            class="w-100 btn btn-lg btn-secondary bg-dark border-white"
            [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
