div image {
  display: block;
  padding: 2em;
  margin: auto;
}

form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

form label {
  color:gray;
}

form input:focus {
  color: lightgray;
  outline: none !important;
  box-shadow: none;
}

form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
