<app-alert
  *ngIf="message"
  [message]="message"
  (alertClosed)="onPopupHandle()"></app-alert>

<div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-black">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ title }}</h1>
      <p class="lead my-3">Chimera Client is a modular utility client for Minecraft Java edition that allows you to
        customize your gameplay with various hacks and modules. It is mainly focused on extensibility.</p>
      <p class="lead mb-0"><a routerLink="/faq" class="text-white fw-bold">Learn more...</a></p>
    </div>
  </div>

  <div class="container col">
      <div class="row" *ngIf="isAuthenticated">
        <button class="btn btn-outline-info w-25"
                (click)="onNewUpdate()">New update</button>&nbsp;
        <button class="btn btn-outline-info w-25"
                (click)="onSaveAllUpdates()">Save changes</button>
      </div>

    <div class="row py-4">
      <hr class="w-50">
    </div>

    <div class="row justify-content-start">
      <div class="w-50" [hidden]="!outlet.isActivated">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>

      <app-home-item
        class="p-2 w-50"
        *ngFor="let update of updates; let i = index;"
        [updateCard]="update" [itemId]="i">
      </app-home-item>
    </div>

  </div>

</div>
